<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="RollingDayFile" xsi:type="File" layout="${longdate} - ${level} - ${message} ${exception:format=toString}" fileName="${basedir}/App_Data/${shortdate}.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="RollingDayFile" />
  </rules>
</nlog>